{{template "base" .}}

{{define "title"}}Change Password{{end}}

{{define "main"}}
<form class="form-signin" action='/user/changepassword' method='POST' novalidate>
    {{with .Form}}
    <label for="password" >Password</label>
    {{with .Errors.Get "password"}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='password' class="form-control" placeholder="Password" required>

    <label for="confirm" >Confirm Password</label>
    {{with .Errors.Get "confirm"}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='confirm' class="form-control" placeholder="Confirm" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
    {{end}}
</form>
{{end}}