{{template "base" .}}

{{define "title"}}Create User Profile{{end}}

{{define "main"}}
<form action='/user/createprofile' method='POST' novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Create Profile</h1>
    {{with .Form}}
    {{with .Errors.Get "generic"}}
    <div class='error'>{{.}}</div>
    {{end}}
    <div class="row">
        <div class="col">
            <label for="email">Email address</label>
            <input type='email' name='email' value='{{.Get "email"}}' class="form-control" disabled="disabled" placeholder="Email address"
                required>


        </div>
        <div class="col">
            <label for="email">Full name</label>
            <input type='fullname' name='fullname' value='{{.Get "fullname"}}' class="form-control"
                placeholder="Full Name" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="email">Address</label>
            <input type='address' name='address' value='{{.Get "address"}}' class="form-control" placeholder="Address"
                required>

        </div>
        <div class="col">
            <label for="email">Telephone</label>
            <input type='address' name='telephone' value='{{.Get "telephone"}}' class="form-control"
                placeholder="Telephone" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col"><button class="btn btn-primary " type="submit">Create</button></div>
        <div class="col">
            <a class="btn btn-primary" href="/user/profile">Cancel</a>
        </div>
    </div>
    {{end}}
</form>
{{end }}