{{template "base" .}}

{{define "title"}}User Profile{{end}}

{{define "main"}}
<form action='/user/updateprofile' method='POST' novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Edit Profile</h1>
    {{with .UserDetails}}
    <div class="row">
        <div class="col">
            <label for="email">Email address</label>
            <input type='email' name='email' value='{{.Email}}' class="form-control" placeholder="Email address"
                required>


        </div>
        <div class="col">
            <label for="email">Full name</label>
            <input type='fullname' name='fullname' value='{{.FullName}}' class="form-control"
                placeholder="Full Name" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="email">Address</label>
            <input type='address' name='address' value='{{.UserAddress}}' class="form-control" placeholder="Address"
                required>

        </div>
        <div class="col">
            <label for="email">Telephone</label>
            <input type='address' name='telephone' value='{{.Telephone}}' class="form-control"
                placeholder="Telephone" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col"><button class="btn btn-primary " type="submit">Update</button></div>
        <div class="col">
            <a class="btn btn-primary" href="/user/profile">Cancel</a>
        </div>
    </div>
    {{end}}
</form>
{{end }}