{{define "footer"}}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                Made with <i class="fa fa-heart pulse"></i> for Go
            </div>
        </div>
    </div>
</footer>
{{end}}