{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "main"}}
<form class="form-signin" action='/user/login' method='POST' novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {{with .Form}}
        {{with .Errors.Get "generic"}}
            <div class='error'>{{.}}</div>
        {{end}}
            <input type='email' name='email' value='{{.Get "email"}}' class="form-control" placeholder="Email address" required autofocus>
            <br>
            <input type='password' name='password'  class="form-control" placeholder="Password" required>
            <br>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <br>
            <a href="/user/signup" class="btn btn-lg btn-primary btn-block"> Sign Up</a>
    {{end}}


</form>


<div class="row">
    <div class="btn white darken-6 col s12">
        <a href="/auth/google/login" style="text-transform:none">
            <div class="left">
                <img width="30px" alt="Google &quot;G&quot; Logo"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            </div>
            Login with Google
        </a>
    </div>
</div>
{{end}}