{{template "base" .}}

{{define "title"}}Reset Password{{end}}

{{define "main"}}
<form class="form-signin" action='/user/reset' method='POST' novalidate>
    <div >Please enter email addres to receiver password reset link</div>
    {{with .Form}}
        {{with .Errors.Get "email"}}
            <div>{{.}}</div>
        {{end}}
            <input type='email' name='email' value='{{.Get "email"}}' class="form-control" placeholder="Email address" required autofocus>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send Reset Link</button>
<br>
            <a href="/user/login" class="btn btn-lg btn-primary btn-block" type="submit">Back To Login</a>
    {{end}}
</form>
{{end}}