{{template "base" .}}
{{define "title"}}Signup{{end}}
{{define "main"}}
<form action='/user/signup' class="form-signin" method='POST' novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    {{with .Form}}
    <div>
        {{with .Errors.Get "name"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='name' value='{{.Get "name"}}' class="form-control" placeholder="Name">
    </div>
    <div>
        {{with .Errors.Get "email"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='email' name='email' value='{{.Get "email"}}' class="form-control" placeholder="Email">
    </div>
    <div>
        {{with .Errors.Get "password"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='password' class="form-control" placeholder="Password">
    </div>
    <div>
        {{with .Errors.Get "confirm"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='confirm' class="form-control" placeholder="Confirm">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Signup</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/user/login" class="btn btn-primary">Login</a>
    </div>
    {{end}}
</form>

<div class="row">
    <div class="btn white darken-6 col s12">
        <a href="/auth/google/login" style="text-transform:none">
            <div class="left">
                <img width="30px" alt="Google &quot;G&quot; Logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            </div>
            or SignUp with Google
        </a>
    </div>
</div>
{{end}}