{{template "base" .}}

{{define "title"}}User Profile{{end}}

{{define "main"}}
    <h2>User Profile</h2>
    {{with .UserDetails}}
     <table class="table">
        <tr>
            <th>Full Name</th>
            <td>{{.FullName}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{.UserAddress}}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{.Telephone}}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col"> <a class="btn btn-primary" href="/user/updateprofile">Edit</a></div>
        <div class="col"><form action='/user/logout' method='POST' class="form-inline">
            <button class="btn btn-danger">Logout</button>
        </form></div>
    </div>
    {{end }}
{{end}}
